/*MB Enterprises Page Style Sheet*/








body {
	border-top: .4rem solid #38A169;
	font-family: 'Avenir next', Helvetica, sans-serif;
}









/*********************/
/*    04. Header     */
/*********************/

.header {
	background:url('/images/header-background.jpg') center  no-repeat;
	background-size: cover;
}

